<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Contact by id</title>
</head>

<body>
    {{ message }}
    <li>
        <label for="first_name">First Name: {{ contact_first_name }}</label>
    </li>
</body>

</html>