<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    {{ message }}
    <li>
        <label for="first_name">First Name: {{firstName}}</label>
        <input type="text" id="first_name" name="user_f_name" />
    </li>
    <li>
        <label for="last_name">Last Name: {{lastName}}</label>
        <input type="text" id="last_name" name="user_l_name" />
    </li>
    <li>
        <label for="phone_number">Phone: {{phoneNumber}}</label>
        <input id="phone" type="number" name="user_message"></input>
    </li>
</body>

</html>