<!DOCTYPE html>

<html>
<form action="http://localhost:3000/contacts/create" method="POST">

    <head>
        <meta charset="utf-8" />
        <title>Creating contact</title>
    </head>

    <body>
        <ul>
            <li>
                <label for="first_name">First Name:</label>
                <input type="text" id="firstName" name="firstName" />
            </li>
            <li>
                <label for="last_name">Last Name:</label>
                <input type="text" id="lastName" name="lastName" />
            </li>
            <li>
                <label for="phone">Phone:</label>
                <input id="phoneNumber" type="number" name="phoneNumber"></input>
            </li>
            <li>
                <label for="isActive">isActive:</label>
                <input id="isActive" type="boolean" name="isActive"></input>
            </li>
            <li class="button">
                <button type="submit">Save the contact</button>
            </li>
        </ul>
    </body>
</form>

</html>