<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Deleting contact by id</title>
</head>

<body>
    {{#if hasContact}}
    <li>
        <label for="first_name">First Name:<b>{{ firstName }}</b> successfully deleted!</label>
    </li>
    {{else}}
    <li>
        <label for="error"><b>No contact found with current id!</b></label>
    </li>
    {{/if}}
</body>

</html>